body {
    position: relative;
    background: #e9f3e7;
    color: black;
    overflow-y: hidden;
}
.settings {
    position: absolute;
    left: 0;
    bottom: 0%;
    border-radius: 1rem;
    width: 100%;
    height: 60%;
    background-color: white;
    translate: 0% 98%;
    box-shadow: -1px -1px 8px lightgray;
    transition: translate 500ms ease-in-out;
    z-index: 10;
}
.settings-open {
    translate: 0% 10%;
}
form {
    width: 50%;
    gap: 0.5rem;
    padding: 1rem;
    padding-top: 3rem;
    display: grid;
}
input {
    padding: 0.7rem;
    border-radius: 5px;  
    outline-color: #afd3a8;  
}
.badge-area {
    padding: 1rem;
    display: flex;
    background-color: rgba(176, 176, 176, 0.19); 
    margin: 1rem;
    border-radius: 5px;
}
#exclusion-add {
    padding : 0rem 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px gray;
    background: linear-gradient(20deg, green, emerald);
}
.badge-area span {
    background: white;
    box-shadow: 0px 0px 3px gray;
    padding: 0.3rem 0.5rem;
    display: flex;
    width: fit-content;
    gap: 0.7rem;
    margin: 0rem 0.5rem;
    border-radius: 20px;
}
.badge-area span b {
    margin: 0rem 0.1rem;
}

.badge-area span button {
    background: none;
    border: none;
}
.wrapper {
    width: 100%;
    position: relative;
}
.toggle {
    position: absolute;
    box-shadow: 0px -1px 0px lightgray;
    left: 50%;
    top: 0%;
    translate: 0% -50%;
    border-radius: 100% 100% 0% 0%;
    background-color: white;
    outline: none;
    border: none;
    width: 3rem;
    aspect-ratio: 1 / 1;
    z-index: 2;
}
.toggle i {
    margin: -0.7rem 0rem;
    transition: rotate 600ms ease-in-out;
}
.rotate-full {
    rotate: 180deg;
}
.main {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.coin {
    width: 24%;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 100%;
    background-color:white;
    display: grid;
    place-items: center;
    background: url("assets/rcss.webp");
    background-size: 100%;
    background-color: white;
    box-shadow:  20px 20px 60px #8888883f,
    -20px -20px 60px #64646406;
    border: 1px solid rgba(211, 211, 211, 0.415);
    transition: all 1ms linear;
}
#random-number {
    transition: opacity 500ms ease-in;
}
.coin b {
    font-size: 10rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(242, 242, 242, 0.55);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
@keyframes rotate {
    0% {
        rotate: y 0deg;
    }
    24% {
        rotate: y 90deg;
        background-image: url('assets/rcss.webp');
    }
    25% {
        rotate: y 90deg;
        background-image: url('assets/cstar.jpeg');
    }
    50% {
        rotate: y 180deg;
    }
    74% {
        rotate: y 270deg;
        background-image: url('assets/cstar.jpeg');
    }
    75% {
        rotate: y 270deg;
        background-image: url('assets/rcss.webp');
    }
    100% {
        rotate: y 360deg;
    }
}
@keyframes spinland {
    0%  { rotate : y 0deg; }
    10% { rotate : y 360deg; }
    20% { rotate : y 720deg; }
    50% { rotate : y 1080deg; }
    100% { rotate : y 1440deg; }
}